html{
  scroll-snap-type : y mandatory;
}

.app {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: black;
}

.app_top {
  margin-bottom: -100px;
}
.app__logo {
  margin-top: -59px;
  height: 12vh;
}

.reels__text {
  text-align: center;
  color: white;
  margin: 0;
}

.app__video {
  position: relative;
  height: 75vh;
  width: 25%;
  background-color: white;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1200px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar from Chrome, Safari and opera */
.app__video::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar from IE, Edge and Firefox */
.app__video {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
