.videoHeader{
    display : flex;
    justify-content : space-between;
    align-items: center;
    height: 19px;
    position: absolute;
    width: 100%;
    color: #FDFEFF;
   margin-top: 5px;
}

.videoHeader > * {
   
    padding: 10px;
}